@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&family=PT+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Nunito, sans-serif;
    font-weight: 300;
    color: #414141;
}

/* header styling */

header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #ffffff;
}

/* headings and logo */

h1, h2 {
    font-family: PT Sans, sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #292929;
}

#logo {
    float: left;
    font-size: 300%;
    margin-left: 30px;
}

/* navigation links */

#menu {
    font-size: 120%;
    letter-spacing: 3px;

}

#menu, #logo {
    line-height: 75px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 20px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 2px solid #292929;
}

.active {
    border-bottom: 2px solid #292929;
}

/* benagilcave image */

#benagilcave {
    height: 800px;
    width: 100%;
    background: url(../images/benagilcave.jpg) no-repeat center center;
    overflow: hidden;
    background-size: cover;
    margin-top: 75px;
}

/* algarve where */

#algarvewhere {
    height: 400px;
    text-align: center;
    letter-spacing: 2px;
    padding: 50px 100px;
    margin-bottom: 150px;
}

/* footer */

footer {
    height: 300px;
}

#contact {
    text-align: center;
    text-shadow: 1ch;
}

.social-networks {
    text-align: center;
}

.social-networks > li {
    display: inline;
}

.social-networks i {
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: #292929;
}

/* beaches page */

#page-title {
    height: 200px;
    padding-top: 150px;
    text-align: center;
    font-size: 150%;
}

/* Images styles */

#img-round-corners {
    border-radius: 30px;
}

/* Section beaches/activities */

#top-div {
    margin-left: 30px;
    width: 100%;
}

#center-div {
    margin-left: 30px;
    margin-top: 150px;
    width: 100%;
}

#bottom-div {
    margin-left: 30px;
    margin-top: 150px;
    margin-bottom: 150px;
    width: 100%;
}

#left-div {
    height: auto;
    text-align: center;
    overflow: hidden;
}

#right-div {
    height: auto;
    text-align: center;
    overflow: hidden;
}

#left-div, #right-div {
    display: inline-block;
    width: 48%;
}

/* signup/form page */


/* Media queries */

/* for larger to medium screen sizes from 1200px wide and down */
@media screen and (max-width: 1200px) {
    
}